<section class="section blog-single">
  <div class="container">
    <div class="row justify-center">
      <div class="lg:col-10">
        <img class="rounded-xl" src="<%= post.img %>" alt="" />
      </div>
      <div class="mt-10 max-w-[810px] lg:col-9">
        <h1 class="h2">
          <%= post.title %>
        </h1>
        <div class="mt-6 mb-5 flex items-center space-x-2">
          <div class="blog-author-avatar h-[58px] w-[58px] rounded-full border-2 border-primary p-0.5">
            <img src="/public/assets/images/blog-author.png" alt="" />
          </div>
          <div class="">
            <p class="text-dark"><%= post.user_id.fullname %></p>
            <span class="text-sm"><%= new Date(post.createdAt).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %>. <%= post.views %> read</span>
          </div>
        </div>

        <div class="content">
          <p>
            <%- post.content %>
          </p>
        </div>

        <div class="comments">
          <h3 class="h5 inline-block border-b-[3px] border-primary font-primary font-medium leading-8">
            Comments
          </h3>
          <div class="comment flex space-x-4 border-b border-border py-8">
            <img src="/public/assets/images/comment-author-1.png" class="h-[70px] w-[70px] rounded-full" alt="" />
            <div>
              <h4 class="font-primary text-lg font-medium capitalize">
                ronin bishop
              </h4>
              <p class="mt-2.5">
                April 18, 2020 at 6.25 pm
                <a class="ml-4 text-primary" href="#">Replay</a>
              </p>
              <p class="mt-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nec et
                ipsum ullamcorper venenatis fringilla. Pretium, purus eu nec
                vulputate vel habitant egestas.ornare ipsum
              </p>
            </div>
          </div>
          <div class="comment flex space-x-4 py-8">
            <img src="/public/assets/images/icons/replay-arrow.svg" alt="" />
            <img src="/public/assets/images/comment-author-2.png" class="h-[70px] w-[70px] rounded-full" alt="" />
            <div>
              <h4 class="font-primary text-lg font-medium capitalize">
                Kathryn Murphy
              </h4>
              <p class="mt-2.5">
                April 18, 2020 at 6.25 pm
                <a class="ml-4 text-primary" href="#">Replay</a>
              </p>
              <p class="mt-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nec et
                ipsum ullamcorper venenatis fringilla. Pretium, purus eu nec
                vulputate vel habitant egestas.ornare ipsum
              </p>
            </div>
          </div>
        </div>
        <form class="comment-form" action="#" method="POST">
          <p class="mb-4">LEAVE A REPLAY</p>
          <div class="form-group">
            <textarea cols="30" rows="10"></textarea>
          </div>
          <div class="row mb-8">
            <div class="form-group mt-8 md:col-6 lg:col-4">
              <input type="text" placeholder="Name" />
            </div>
            <div class="form-group mt-8 md:col-6 lg:col-4">
              <input type="text" placeholder="Email" />
            </div>
            <div class="form-group mt-8 md:col-6 lg:col-4">
              <input type="text" placeholder="Website" />
            </div>
          </div>
          <div class="form-group relative flex pl-6">
            <input class="absolute left-0 top-1" type="checkbox" id="save-info" />
            <label class="block" for="save-info">Save my name, email, and website in this browser for the next
              time I comment.</label>
          </div>
          <input type="Submit" class="btn btn-primary mt-8 min-w-[189px] cursor-pointer" value="Post Comment" />
        </form>
      </div>
    </div>
  </div>
</section>