<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="zxx">

<!-- Head -->
<%- include('../components/head'); %>

<!-- Header -->
<%- include('../components/header'); %>

<body>

  <!-- Body content -->
  <%- body %>

  <!-- Footer -->
  <%- include('../components/footer'); %>

  <!-- JavaScript -->
  <%- include('../components/scripts'); %>
</body>

</html>