<!DOCTYPE html>
<html lang="en">

<!-- head -->

<%- include('../components/dash-head'); %>
<!-- end head -->

<body class="g-sidenav-show  bg-gray-100">


  <!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> -->
  <!-- Side Nav -->
  <%- include('../components/dash-sidenav'); %>
  <!-- end side nav -->

  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <%- include('../components/dash-navbar'); %>
    <!-- end Navbar -->

    <div class="container-fluid py-4">
      <div class="row">
        <div class="position-relative z-index-2">

          <%- body %>


        </div>
      </div>

      <!-- Footer -->
      <%- include('../components/dash-footer'); %>
      <!-- end footer -->
    </div>
  </main>
  <!-- Plugins Opsional -->

  <!-- end Plugins Opsional -->

  <!-- Scripts -->
  <%- include('../components/dash-scripts'); %>
  <!-- end Scripts -->
</body>

</html>