<div class="row">
  <div class="col-md-12 mb-lg-0 mb-4">
    <div class="card mt-4">
      <div class="card-header pb-0 p-3">
        <div class="row">
          <div class="col-6 d-flex align-items-center">
            <h6 class="mb-0">Collection Portofolio</h6>
          </div>
          <div class="col-6 text-end">
            <!-- Optional button or other elements can go here -->
          </div>
        </div>
      </div>
      <div class="card-body p-3">
        <div class="row">
          <div class="table-responsive">
            <table class="table table-flush" id="datatable-search">
              <thead class="thead-light">
                <tr>
                  <th>No</th>
                  <th>Title</th>
                  <th>Category</th>
                  <th>Author</th>
                  <th>Views</th>
                  <th>Status</th>
                  <th>Publish Date</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <% if (posts.length > 0) { %>
                <% posts.forEach(function(post, index) { %>
                <tr>
                  <td class="text-sm font-weight-normal"><%= index + 1 %></td>
                  <td class="text-sm font-weight-normal"><%= post.title %></td>
                  <td class="text-sm font-weight-normal"><%= post.category_id.name %></td>
                  <td class="text-sm font-weight-normal"><%= post.user_id.fullname %></td>
                  <td class="text-sm font-weight-normal"><%= post.views %></td>
                  <td class="text-sm font-weight-normal"><%= post.status %></td>
                  <td class="text-sm font-weight-normal"><% const publishedDate = new Date(post.published); %>
                    <% const month = publishedDate.getMonth() + 1; %>
                    <% const day = publishedDate.getDate(); %>
                    <% const year = publishedDate.getFullYear(); %>
                    <% const formattedDate = `${month}-${day}-${year}`; %>
                    <%= formattedDate %></td>
                  <td class="text-sm font-weight-normal">
                    <div class="dropdown">
                      <button class="btn btn-link text-secondary ps-0 pe-2" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-v text-lg"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-end me-sm-n4 me-n3" aria-labelledby="navbarDropdownMenuLink">
                        <a href="/post/edit/<%= post._id %>" class="dropdown-item text-warning"><i class="fas fa-pencil-alt me-2"></i> Update</a>
                        <a href="/post/delete/<%= post._id %>" class="dropdown-item text-danger"><i class="far fa-trash-alt me-2"></i> Delete</a>
                      </div>
                    </div>
                  </td>
                </tr>
                <% }); %>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>